<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.checked {
  color: orange;
}
</style>
</head>
<body>

<br>
<div id="<%= dom_id(burrito) %>" class="card">
  <table>
  <tr>
  <%= render "restaurants/restaurant", restaurant: Restaurant.where(id: burrito.restaurant_id).at(0) %>
  </tr>
  </table>
  <%= image_tag burrito.image, class: "img-fluid" %>
  <h5 style="text-align:center"><%= burrito.name %></h5>
  <h5 style="text-align:center">Price: $<%= burrito.price %></h5>
  <h5 style="text-align:center">Tortilla: <%= burrito.tortilla %></h5>
  <h5 style="text-align:center">Avg Rating: <%= burrito.avg_rating.round(1) %>
    <% burrito.avg_rating.round(0).times do |star| %>
    <span class="fa fa-star checked"></span>
    <% end %>
    <% (5-burrito.avg_rating.round(0)).times do |star| %>
    <span class="fa fa-star"></span>
    <% end %>
  </h5>
    <div style="text-align:center">
      <%= render "ratings/rating", burrito: burrito %>
    </div>
  <% if @current_user == burrito.owner %>
  <div style="text-align:center">
    <%= link_to restaurant_path, class: "btn btn-link btn-sm text-muted", remote: true do %>
      <i class="fas fa-edit fa-fw"></i>
    <% end %>
    <%= link_to delete_burrito_path(burrito), method: :delete, class: "btn btn-link btn-sm text-muted", remote: true do %>
      <i class="fas fa-trash fa-fw"></i>
    <% end %>
  </div>
  <% end %>
</div>



</body>
</html>