<br>
  <h1 style="text-align:center">
    <%= @restaurant.name %>
  </h1>
<br>
<div>
<%= form_with(url: new_burrito_path, class: "d-inline-block") do |burrito| %>
    <%= label_tag :name, "Burrito Name" %>
    <%= text_field_tag :name %>
    <%= label_tag :tortilla, "Tortilla" %>
    <%= text_field_tag :tortilla %>
    <%= label_tag :price, "Price" %>
    <%= number_field_tag :price, nil, :step => 0.01 %>
    <%= label_tag :image, "Image URL" %>
    <%= text_field_tag :image %>

    <%= hidden_field_tag :restaurant_id, @restaurant.id %>
    <%= hidden_field_tag :owner_id, @current_user.id %>
    <%= hidden_field_tag :ratings_count, 0 %>

    <%= button_tag 'Add burrito', class: 'btn btn-primary' %>
<% end %>
</div>

<div class="col-md-6 offset-3">
<br>
<% @restaurant.burritos.each do |burrito| %>
  <div class="row-4">
    <div class="col">
      <%= render "burritos/burrito", burrito: burrito %>
    </div>
  </div>
<% end %>
</div>